<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1><i class="fas fa-globe-americas"></i></h1>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class='justify-content-left mr-3'>

  <%= link_to "View all lessons", lessons_path, class: 'mr-3' %>
  <%= link_to "My profile", user_path(current_user), class: 'mr-3'  %>
  <%= link_to "Teach a lesson", new_lesson_path, class: 'mr-3'  %>

</div>

</div>
